<p>detail works!</p>
<mat-icon (click)="refresh()">refresh</mat-icon>
<br/>
<div style="width: 800px;">
<mat-grid-list id="main_grid" [cols]="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let loc of locations" (click)="selected = loc" [ngClass]="{'selected': selected === loc}">
    <h3>{{loc.name}}</h3><br/>
    <ng-template [ngIf]="forecasts[loc.name] != undefined" [ngIfElse]="loading">
      <font size="10">{{forecasts[loc.name].weather[0].main}}</font>
      <img src="http://openweathermap.org/img/wn/{{forecasts[loc.name].weather[0].icon}}@2x.png">
      <br/>
      <font size="5">{{forecasts[loc.name].weather[0].description}}</font>
      temp: {{forecasts[loc.name].main.temp}}&#176;C
    </ng-template>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>
</div>
<app-citydetail *ngIf="selected != undefined" [city]="selected.name"></app-citydetail>