table {
    width: 100%;
}
  
th {
    height: 50px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5;}

.selected {
    background: lightgrey;
}

.selected:hover {
    background: lightgrey;
}

.btn {
    height: 30px;
    font-size: 16px;
}