<ng-template [ngIf]="selectedLoc != undefined" [ngIfElse]="non_selected">
    <!--<app-edit [city]="selectedLoc"></app-edit>-->
<div style="background: lightcyan;" *ngIf="selectedLoc != undefined">
    <form #myForm="ngForm" (ngSubmit)="SaveData()">
    id:<input name="id" type="number" [(ngModel)]="selectedLoc.id"><br/>
    name:<input name="name" type="text" [(ngModel)]="selectedLoc.name"><br/>
    location:<input name="loc" type="text" [(ngModel)]="selectedLoc.loc"><br/>
    notes:<input name="note" type="text" [(ngModel)]="selectedLoc.note"><br/>
    <button type="button" value="add" (click)="SaveData()" [disabled]="!DataDirty(myForm)">save {{selectedLoc.name}}</button><br/>
    </form>
</div>
</ng-template>
<ng-template #non_selected>
    non selected<br/>
</ng-template>
<input type="button" value="add" (click)="NewData()"><br/>
<br/>
<table>
    <tr style="background: rgb(240, 236, 236);">
        <th width="5%">id</th>
        <th width="20%">name</th>
        <th width="25%">location</th>
        <th width="30%">note</th>
        <th width="20%">buttons</th>
    </tr>
    <tr *ngFor="let location of locations" [ngClass]="{'selected':location === selectedLoc, 'notselected':location === selectedLoc}">
        <td>{{location.id}}</td>
        <td>{{location.name}}</td>
        <td>{{location.loc}}</td>
        <td>{{location.note}}</td>
        <td>
            <input class="btn" type="button" value="details" routerLink="/detail">
            <input class="btn" type="button" value="edit" (click)="EditData(location)"><br/>
            <input class="btn" type="button" value="remove" (click)="RemoveData(location)">
            <input class="btn" type="button" value="move up" *ngIf="locations.indexOf(location)!=0" (click)="MoveUp(location)">
        </td>
    </tr>
</table>